
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

/* #custom-navbar,
#dropdown-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  align-items: flex-end;
} */

#logo {
    /* position: absolute;
    top: -20px;
    left: 0px; */
    margin-top:25px;
}

.dropdown-menu {
  margin-top: 0;
}

#custom-navbar {
    height: 87.5px;
    position: relative; 
}

.dropdown-items-container {
  display: flex !important;
  flex-direction: column;
  background-color: #ffffff;
  border: 3px solid black;
  margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  top: 65px; 
  z-index: 9999; 
}


  
.dropdown-open .dropdown-items-container {
    display: flex;
}

.nav-dropdown {
  margin: 0px 20px;
}

.nav-dropdown .dropdown-toggle {
    color: whitesmoke; 
  }
  
.banner-section {
    position: relative;
    padding: 0;
}

#schedule-tour-button {
    position: absolute; 
    bottom: 50px;
    left: 50px;
    background-color: #F9643F;
    color: whitesmoke;
    padding: 12.5px;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    font-size: x-large;
    z-index: 9999; 
}
  
#schedule-tour-button:hover {
    background-color: #A1AFEF;
    border-color: black;
}

.home-infobox {
    height: 300px; 
    background-color: #5271ff;
    width: 30%;
    padding: 10px;
    color: whitesmoke;
    padding-top: 10px;
    text-align: center;
  }

.home-infobox button{
  background-color: #F9643F;
  border: none;
  padding: 3px;
  width: 125px;
  border-radius: 5px;
  color: whitesmoke;
}  

.contact-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#donate-button {
  background-color: #F9643F;
  color: whitesmoke;
  padding: 10px;
  border: 3px solid whitesmoke;
  border-radius: 15px;
  z-index: 9999; 
}