@import url('https://fonts.googleapis.com/css2?family=Mako&family=Open+Sans:wght@400;600;800&display=swap');

:root {
  /* colors */
  /* Site header/footer/ Content blocks */
  --red: #d34323;
  /* For Page Headers */
  --blue: #4468f4;
  /* Call to Action Buttons: Donate, Schedule Tour */
  --yellow: #Feb823;

  /* border radius */
  --bRadMajor: 25px;
  --bRadMinor: 25px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 46px; 
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 32px; 
}

h3 {
  font-family: 'Mako', sans-serif;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px; 
}

#custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1; 
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(to bottom, whitesmoke 0% 27.5%, var(--blue) 27.5% 100%);
}

#logo-container{
  margin-left: 1.25%
}


#logo-img {
  height: 100px;
}

#dropdown-titles {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  display: relative;
}

.nav-dropdown {
  font-family: 'Mako', sans-serif;
  padding: 0 2.5%;
  padding-top: 5%;
  text-transform: uppercase;
  font-weight: 900;
}

.nav-dropdown .nav-link, .nav-link-individual{
  font-size: 16px;
  color: whitesmoke;
  font-weight: 900px;
}

.nav-dropdown .dropdown-toggle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px; 
}

.home-infobox {
    height: 300px; 
    background-color: #5271ff;
    width: 30%;
    padding: 10px;
    color: whitesmoke;
    padding-top: 10px;
    text-align: center;
  }

.home-infobox button{
  background-color: #F9643F;
  border: none;
  padding: 3px;
  width: 125px;
  border-radius: 5px;
  color: whitesmoke;
}  

.contact-block{
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
}


#donate-button {
  background-color: var(--yellow);
  color: black;
  padding: 10px;
  border: 1.5px solid whitesmoke;
  border-radius: var(--bRadMajor);
  margin-bottom: 15px;
  margin-right: 2.5%;
}





@media (max-width: 968px) {
  #custom-navbar {
    height: auto;
    background: var(--blue);
    flex-direction: column;
    align-items: center;
  }

  #logo-img {
    padding-top:0px;
    height: 200px;
  }
}

